<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="">

  <script>
var i = 0;

var counterBack = setInterval(function () {
  i++;
  if (i > 0) {
    $('.progress-bar').css('width', i + '%');
  } else {
    clearInterval(counterBack);
  }

}, 80);
</script>

    </script>

    <title> Add Your Day  </title>

  </head>

  <body>


<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>



  <div class="row">
    
        <div class="col-lg-3" style="margin-top: 10px;  ">
             <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/27540886_2018752978403801_5231048398945606102_n.jpg?_nc_cat=0&oh=d17c5057f57e10247da0db4618c0f86e&oe=5B727B7F" alt="profile_image">
                  <div class="card-body">
                    <h6 class="card-title"> Sanjiv Gautam</h6>
                    <em style="color: Blue" class="card-text"> " If I die before my dream, then forget about my existense "</em>
                  </div>
              </div>  

        </div>  

        <div class="col-lg-6" style="margin-top: 10px;">
              <div class="card">
                  <div class="card-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="d-block w-100" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/30728838_1607972175966206_9138657749721153536_n.jpg?_nc_cat=0&oh=2eff32b3a6a1e25a30ad2da078d268bb&oe=5B712FCA" alt="First slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/30707041_1605637576199666_2486611959294722048_n.jpg?_nc_cat=0&oh=52eb4776496a2b1a1070fd8411c81836&oe=5B5687E6" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/30653034_1603079396455484_3507646996905197568_n.jpg?_nc_cat=0&oh=3ed027b82fc6504c38e90f42c0014ed7&oe=5B66093A" alt="Third slide">
                            </div>
                          </div>
                        </div>
                  </div>
              </div>  
        </div>
        
        <div class="col-lg-3" style="margin-top: 10px;">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    

        </div>

  </div>  





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>